@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

@import
	url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap')
	;

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: "Lato";
	fort-weight: 300;
	color: #555;
	margin-bottom: 60px;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}

p {
	line-height: 28px;
	margin-bottom: 25px;
}

a:hover, a:focus {
	color: grey;
	text-decoration: none;
}

a {
	color: gainsboro;
}

main {
	margin-top: 50px;
	margin-bottom: 15px;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	font-size: 1em;
	padding: 15px 20px;
	background-color: #0B0910;
}

.navbar-brand {
	font-size: 2.5em;
}

.navbar-light .navbar-brand {
	color: gainsboro;
}

.me-2 {
	margin-left: 10px;
}

.cartMan {
	font-size: 3rem;
}

.cart {
	background-color: #8B4513;
	border-color: #8B4513;
}

.cartBorder {
	border-color: #ffc107;
}

.padgination {
	font-size: 2em;
	color: #ffc107;
	text-decoration: none;
}

.filtres {
	font-size: 1.3em;
	color: white;
}

.active {
	font-size: 2em;
	color: grey;
	text-decoration: none;
}

.switchers {
	color: #ffc107;
}

.form {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.formLabel {
	font-size: 3em;
	text-align: center;
	color: #d6d6d6;
}

.info {
	font-size: 1.5em;
	color: #d6d6d6;
	margin: 3rem 3rem;
}

.mainPageBody{
background:
		url(https://raw.githubusercontent.com/Maksym1996/Image_Restaurant/main/fon.jpg);
}

.otherPageBody{
background: url(https://raw.githubusercontent.com/Maksym1996/Image_Restaurant/main/FonForOther.jpg);
	color: #d6d6d6;
}